body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #303030;
    color: #ffffff;
}

h1 {
    color: #ffcc00;
    text-align: center;
}

a {
    color: #1e90ff;
    text-decoration: none;
}